* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: Helvetica, sans-serif;
  background-color: #c9e5ee;
}

#pageHeader {
  color: #FF8500;
  position: fixed;
  top: 5px;
  z-index: 1;
}

div {
  margin: 10px;
}

#addTodoForm {
  position: fixed;
  top: 55px;
  z-index: 1;
}

.fixedHeader {
  position: fixed;
  left: -2px;
  top: -10px;
  border-radius: 3px;
  width: 430px;
  height: 110px;
  padding: 20px;
  background-color: #c9e5ee;
  z-index: 1;
}

form {
  margin: 10px 0px;
}

ul {
  position: relative;
  top: 98px;
  padding-left: 0px;
  z-index: 0;
}

li {
  list-style-type: none;
  padding: 7px 0px;
  background-color: #1eb3e9;
  border-radius: 3px;
  padding: 5px;
  padding-left: 8px;
  margin: 10px 0px;
  color: #FFF;
  max-width: 250px;
  text-align: center;
}

.todoForm {
  height: 30px;
  width: 150px;
  font-size: 14px;
  padding: 10px;
  margin-right: 8px;
  border-radius: 3px;
  border-style: hidden;
  color: #FF8500;
}

.todoForm:focus,
.buttons:focus {
  outline: none;
}

.buttons {
  width: 70px;
  height: 30px;
  font-size: 16px;
  border-style: hidden;
  border-radius: 3px;
  background-color: #FFF;
  color: #1eb3e9;
}

#CompleteTodo,
#DeleteButton {
  width: 160px;
  height: 30px;
  font-size: 16px;
  padding: 6px;
}

.buttons:hover {
  background-color: #FF8500;
  color: #FFF;
}

.buttons:active {
  color: #FFF;
}
